@import "./src/sass/mixins";
.whyWeComponentBg{
  position: relative;
}
.whyWeComponentContainer{
  position: relative;
  padding-top: 100px;
  height: 100vh;
  @include media-max(1199){
    padding-top: 400px;
  }
  //@include media-max(500){
  //  padding-top: 500px;
  //}
}
.statisticContainer{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;

  @include media-max(767){
    padding-top: 100px;
    flex-direction: column-reverse;
    align-items: flex-start;

    //gap: 35px;
    //display: none;
  }

  @include media-max-wh(767,805){
    padding-top: 200px;
  }
}
.statisticElement{
  display: flex;
  align-items: center;
  @include media-max(767){
    margin-bottom: 35px;
    &:first-child{
      margin-bottom: 0;
    }
  }


}
.statisticElementImageContainer{
  width: 80px;
  height: 80px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);;
}
.statisticTextContainer{
  margin-left: 24px;
  .statisticMainText{
    /* Heading / H2 */
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    /* identical to box height, or 60px */
    /* Neutral / White */
    color: #FFFFFF;

  }
  .statisticSecondaryText{
    /* Body / Small - Regular */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */
    letter-spacing: 0.01em;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    /* Neutral / Grey 5 */
    color: #E0E0E0;
  }
}




.whyWeComponentMainInfoContainer{
  position: relative;
  display: flex;
  align-items: center;
  @include media-max(1199){
    flex-direction: column;
  }
}
.whyWeComponentLimeFigure{
  position: absolute;
  top: 10%;
  right: 0;
 }
.whyWeComponentLimeFigureTwo{
  max-width: 154px;
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: 40%;
}
.whyWeComponentMainImageContainer{

}
.whyWeComponentMainImage{
  width: 100%;
}
.whyWeComponentMainTextContainer{
  max-width: 480px;
  margin-left: 70px;


}
.whyWeComponentMainTextTitle{
  /* Heading / H2 */
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  /* or 60px */
  /* Neutral / White */
  color: #FFFFFF;
}
.whyWeComponentSecondaryText{
  /* Body / Small - Regular */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  letter-spacing: 0.01em;
  /* Neutral / Grey 5 */
  color: #E0E0E0;
  margin-block-start: 24px;
  margin-block-end: 32px;
}
.whyWeComponentLearnMoreButton{
  @include btn-blue();
  padding: 18px 26px;

}

.whyWeComponentEarnSection{
  //padding: 100px 0;
  padding-top: 100px;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  @include media-max(1199){
    padding-top: 700px;
  }
  @include media-max(767){
    padding-top: 800px;
  }
  @include media-max(500){
    padding-top: 1050px;
  }
  @include media-max-wh(767,805){
    padding-top: 1200px;
  }
  //@include media-max(500){
  //  padding-top: 800px;
  //}

}
