@import "./src/sass/mixins";
.tradeSecurely{
  position: relative;
  width: 100%;
  height: 100%;
  background: #8e9eab; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #a5afb9, #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #a5afb9, #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.tradeSecurelyCalculator{
  position: absolute;
  top: -150px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  background: #FBFCFE;
  border-radius: 16px;
  max-width: 942px;
  max-height: 371px;
  padding: 48px;
  filter: drop-shadow(0px 20px 200px rgba(57, 23, 119, 0.05));
  @include media-max(767){
    max-height: 430px;
  }
  @include media-max(500){
    max-height: 530px;
  }
   input{
     min-height: 38px;
     &::placeholder {
       font-style: normal;
       font-weight: 400;
       font-size: 20px;
       line-height: 150%;
       /* identical to box height, or 30px */
       /* Color / Primary */
       color: #0D0D2B;
       mix-blend-mode: normal;
     }
   }

}
.tradeSecurelyCalculatorInput{
  width: 100%;
  min-height: 38px;
  max-width: 400px;
  border: none;
  border-bottom: 1px solid #E0E0E0;
  background-color: transparent;
  color: inherit;
  outline: none;
  margin-right: 48px;

}
.tradeSecurelyCalculatorInputHash{
  width: 100%;
  max-width: 200px;
  border: none;
  margin-right: 48px;
  border-bottom: 1px solid #E0E0E0;
  background-color: transparent;
  color: inherit;
  outline: none;
}
.tradeSecurelyCalculatorButton{
  @include btn-blue();
  padding: 16px 32px;
  @include media-max(991){
 margin-top: 30px;
  }
}



.tradeSecurelyEstimatedSecondaryInfo{
  margin-top: 100px;
}
.tradeSecurelyEstimatedText{

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  letter-spacing: 0.04em;
  text-transform: uppercase;
  /* Color / Accent */
  color: #3671E9;
}
.tradeSecurelyETHText{
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  /* identical to box height, or 48px */
  letter-spacing: 0.04em;
  margin-block-start: 1rem;
  margin-block-end: 5px;
  /* Color / Primary */
  color: #0D0D2B;
  .tradeSecurelyETHTextNumber{
    color: #3671E9;
  }
}
.tradeSecurelySubText{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */
  letter-spacing: 0.01em;
  /* Neutral / Grey 3 */
  color: #828282;
}

.tradeSecurelyMainSection{
  padding-top: 315px;
}
.tradeSecurelyMainSectionTitle{
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  /* or 60px */
  /* Color / Primary */
  color: #0D0D2B;
  @include media-max(500){
    padding-top: 100px;
  }

}

.tradeSecurelyMainSectionCardsContainer{
  padding-top: 64px;
  padding-bottom: 100px;
}
.tradeSecurelyMainSectionCardsList{
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
  @include media-max(1199){
    flex-direction: column;
  }
}
.tradeSecurelyMainSectionCardsListItem{
  padding: 48px 24px;
  width: 100%;
  max-width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border-radius: 16px;
  color: inherit;
  transition: transform .2s; /* Animation */
  &:hover{
    transform: scale(1.1);
    background-color: #2B076E;
    h2,h3,span,svg{
      color: #FFFFFF;
      fill: #FFFFFF;
    }
  }
}
.tradeSecurelyMainSectionCardImage{
  width: 100%;
  margin-bottom: 48px;
}
.tradeSecurelyMainSectionCardTitlesContainer{
  display: flex;
  align-items: center;
}
.tradeSecurelyMainSectionCardTitle{
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  text-align: center;
  color: #0D0D2B;
  margin-bottom: 25px;
  margin-block-start: 0;
  margin-block-end: 0;
}
.tradeSecurelyMainSectionCardAbbr{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  /* Neutral/Grey 4 */
  color: #BDBDBD;
  margin-left: 8px;
}
.tradeSecurelyMainSectionCardInfo{
  max-height: 56px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;
  /* or 175% */
  text-align: center;
  letter-spacing: 0.01em;
  /* Neutral / Grey 3 */
  color: #828282;
  margin-bottom: 25px;

}
.tradeSecurelyMainSectionCardArrowButtonContainer{

  width: 64px;
  height: 64px;
  cursor: pointer;
  //margin-bottom: 25px;
}