@import "./src/sass/mixins";
header{
  height: 100vh;
}
.headerContainer{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;

}
.headerPanelBg{
  position: absolute;
  bottom: -120px;
  left: 130px;
}
.headerPanelBgRight{
  position: absolute;
  top: 250px;
  right: -400px;
}
.navigationSector{
  display: flex;
  align-items: center;
}
.navigationList{
  display: flex;
  list-style: none;
}
.navigationListItem{
  margin-right: 32px;
  &:last-child{
    margin: 0;
  }
}
.navigationLink{
  font-style:normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}
.navButtonsContainer{
  margin-left: 55px;
  display: flex;
  align-items: center;
}
.verticalLine{
  margin: 0 24px;
  border: 0;
  opacity: 0.3;
  border-left: $white solid;
  height: 24px;
  float: left;

}

.registerButton{
  display: flex;
  align-items: center;
  @include btn-blue();
  font-size: 16px;
  font-weight: 600;

}
.freeButton{
  @include btn-blue();
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  padding:18px 18px;

  .arrowRight{
    margin-left: 24px;
  }
}

.loginButton{
  @include btn-reset();
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: $white;
}


//

.mainInfoContainer{
  display: flex;
  align-items: center;
  padding-top: 10px;

}
.mainInfoTextContainer{
  max-width: 588px;
}
.mainInfoDiscountText{
  max-width: 365px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */
  letter-spacing: 0.01em;
  padding: 5px;

  /* Neutral / White */
  color: #FFFFFF;

  .mainInfoDiscountSecondaryText{
    background: #FFFFFF;
    border-radius: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #0D0D2B;

    /* Inside auto layout */
    padding: 5px 10px;
    margin-right: 15px;
  }
}
.mainInfoTitle{
  /* Heading / H1 */
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;

  /* Neutral / White */
  color: #FFFFFF;

}
.mainInfoSecondaryText{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  /* or 175% */
  letter-spacing: 0.01em;

  /* Neutral / Grey 5 */
  color: #E0E0E0;

  margin-bottom: 24px;
}
.mainInfoImage{
  width: 100%;
}