@import "./src/sass/mixins";
.bgContainer{
  padding: 100px 0;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #2B076E;

}
.featuresMainTitle{
  display: flex;
  align-items: center;
  justify-content: center;
  /* Heading / H2 */
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  /* or 60px */
  text-align: center;
  /* Neutral / White */
  color: #FFFFFF;
  margin-bottom: 100px;
}
.featuresBitcoinInfoContainer{
  display: flex;
  @include media-max(1199){
    flex-direction: column-reverse;
    align-items: center;
  }

}
.featuresBitcoinInfoTextContainer{
  padding-top: 40px;
  max-width: 400px;
  margin-right: 90px;
}
.featuresBitcoinStatisticTextContainer{
  padding-top: 40px;
  max-width: 400px;
  margin-left: 90px;
}
.featuresBitcoinInfoTableTextContainer{
  padding-top: 40px;
  max-width: 450px;
}

.featuresBitcoinTitle{
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  /* identical to box height, or 48px */
  /* Neutral / White */
  color: #FFFFFF;
  margin-bottom: 24px;
}
.featuresBitcoinSecondaryText{
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  letter-spacing: 0.01em;
  /* Neutral / Grey 5 */
  color: #E0E0E0;
  margin-bottom: 32px;
}
.featuresBitcoinLearnMoreButton{
  @include btn-blue();
  padding: 16px 32px;
}
.featuresBitcoinChart{
  @include media-max(767){
    max-width: 500px;
  }
  @include media-max(600){
    max-width: 400px;
  }
  @include media-max(400){
    max-width: 300px;
  }
}


.featuresStatisticInfoContainer{
  margin-top: 120px;
  margin-bottom: 120px;
  display: flex;
  align-items: center;
 position: relative;
  left: -160px;
  @include media-max(1199){
    position:initial;
    flex-direction: column;
  }
}
.featuresStatisticInfoImage{
  @include media-max(767){
  max-width: 550px;
  }
  @include media-max(600){
    max-width: 400px;
  }
  @include media-max(400){
    max-width: 300px;
  }
}
.featuresTableIcon{
  z-index: 1;
  @include media-max(767){
    max-width: 600px;
  }
  @include media-max(600){
    max-width: 500px;
  }
  @include media-max(500){
    max-width: 400px;
  }
  @include media-max(400){
    max-width: 300px;
  }
}
.quarterCircle {
  position: absolute;
  bottom: 0;
  right: 0;
  //height: 200px;
  //width: 300px;
  transform: rotate(90deg);
  //border-radius: 150px 150px 0 0;
  width: 400px;
  height: 400px;
  border-top-right-radius:0;
  border-top-left-radius:0;
  border-bottom-right-radius:0;
  border-bottom-left-radius:100%;
  background: conic-gradient(from 180deg at 50% 50%, rgba(255, 255, 255, 0.16) 0deg, rgba(255, 255, 255, 0) 360deg);
  @include media-max(600){
    width: 200px;
    height: 200px;
  }
}
.halfCircle{
  position: absolute;
  transform: rotate(180deg);
  top: 0;
  left: 100px;
  width: 60rem;
  height: 30rem;
  border-radius: 30rem 30rem 0 0;
  background: conic-gradient(from 180deg at 50% 50%, rgba(255, 255, 255, 0.16) 0deg, rgba(255, 255, 255, 0) 360deg);
}